.Button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}

.Success{
    color: green;
}

.Danger{
    color: red;
}

.Button:disabled{
    color:#ccc;
    cursor: not-allowed;
}